/*Navbar*/
.navbar-toggler-icon {
  filter: invert(73%) sepia(65%) saturate(520%) hue-rotate(2deg);
}

/*下拉式選單箭頭*/
.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle {
  position: relative;
  padding-right: 2rem; /* 給箭頭留空間 */
}

.dropdown-toggle::before {
  content: "▲\A▼";
  white-space: pre;
  position: absolute;
  right: .75rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: .55rem;
  line-height: .6rem;
  color: currentColor;
}

.btn-fit {
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

/*本月熱門保姆*/
.card-person-img {
  width: 100px;
  height: 100px;
  top: 120px;
}

/*線上預約*/
.overlay {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  background-color: rgba(0, 0, 0, 0.4); /* 半透明遮罩 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease; /* 漸變效果 */
}

/* hover 時遮罩消失 */
.position-relative:hover .overlay {
  background-color: rgba(0, 0, 0, 0); /* 完全透明 */
}

/*目前已有*/
.index-back-img {
  background-image: url("/index-9.jpeg");
  background-position: center center; /* 居中 */
  background-repeat: no-repeat;       /* 不重複 */
  background-size: cover;             /* 填滿容器，保持比例 */
}

/*熱門寄宿*/
.stars {
  display: flex;
  gap: 4px; /* 星星間距 */
}

.star {
  width: 16px;
  height: 15px;
  background-color: #F0AD25; /* 你給的黃色 */
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  ); /* 星形 */
}

.star-big {
  width: 20px;
  height: 20px;
  background-color: #F0AD25; /* 你給的黃色 */
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  ); /* 星形 */
}

/*服務項目Modal*/
.service-modal-dialog {
  --bs-modal-width: min(1100px, calc(100% - 2rem));
}

.step-line {
  height: 2px;
  background-color: #DA3A1A;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  z-index: 1; /* 線在圓點下面 */
}

.step-dot {
  width: 8px;
  height: 8px;
  background-color: #DA3A1A;
  border-radius: 50%;
  display: inline-block;
  z-index: 2; /* 讓圓點蓋在線上 */
  position: relative;
}

.object-fit-cover {
  object-fit: cover;
}

.img-square {
  aspect-ratio: 1 / 1;
}

.thumb-square {
  aspect-ratio: 1 / 1;
  width: 96px;      // 桌機尺寸
}

@include media-breakpoint-down(md) {
  .thumb-square {
    width: 64px;    // 手機自適應
  }
}

.wh-75 {
  width: 75px;
  height: 75px;
}

.h-96 {
  height: 96px;
}

.h-120 {
  height: 120px;
}

.h-128 {
  height: 128px;
}

.h-132 {
  height: 132px;
}

.h-282 {
  height: 282px;
}

.h-350 {
  height: 350px;
}

.h-440 {
  height: 440px;
}

.w-80 {
  width: 80px;
}

.w-96 {
  width: 96px;
}

.w-120 {
  width: 120px;
}

.w-128 {
  width: 128px;
}

.w-160 {
  width: 160px;
}

.w-210 {
  width: 210px;
}

.w-230 {
  width: 230px;
}